In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
data_file = "../export_dataframe.xlsx"

In [3]:
xl = pd.ExcelFile(data_file)
covid_df = xl.parse("Sheet1")
covid_df.head()

,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,...,FECHA_INGRESO_DY,FECHA_INGRESO_WK,FECHA_SINTOMAS_YR,FECHA_SINTOMAS_MT,FECHA_SINTOMAS_DY,FECHA_SINTOMAS_WK,FECHA_DEF_YR,FECHA_DEF_MT,FECHA_DEF_DY,FECHA_DEF_WK
0,19de46,PUB,IMSS,DF,HOMBRE,TS,DF,CUAUHTÉMOC,AMBULATORIO,2020-01-01,...,1,1,2020,1,1,1,NaN,NaN,NaN,NaN
1,033d67,PUB,ISSSTE,DF,HOMBRE,DF,DF,ÁLVARO OBREGÓN,AMBULATORIO,2020-01-01,...,1,1,2020,1,1,1,NaN,NaN,NaN,NaN
2,040b7b,PUB,SSA,DF,MUJER,MC,MC,TECÁMAC,AMBULATORIO,2020-01-01,...,1,1,2020,1,1,1,NaN,NaN,NaN,NaN
3,0e4508,PUB,ISSSTE,DF,MUJER,DF,DF,IZTAPALAPA,AMBULATORIO,2020-01-01,...,1,1,2020,1,1,1,NaN,NaN,NaN,NaN
4,1554ce,PRIV,PRIVADA,NT,MUJER,NT,NT,TEPIC,AMBULATORIO,2020-01-01,...,1,1,2020,1,1,1,NaN,NaN,NaN,NaN

In [4]:
covid_df.columns

Index(['ID_REGISTRO', 'ORIGEN', 'SECTOR', 'ENTIDAD_UM', 'SEXO', 'ENTIDAD_NAC',
       'ENTIDAD_RES', 'MUNICIPIO_RES', 'TIPO_PACIENTE', 'FECHA_INGRESO',
       'FECHA_SINTOMAS', 'FECHA_DEF', 'INTUBADO', 'NEUMONIA', 'EDAD',
       'NACIONALIDAD', 'EMBARAZO', 'HABLA_LENGUA_INDIG', 'INDIGENA',
       'DIABETES', 'EPOC', 'ASMA', 'INMUSUPR', 'HIPERTENSION', 'OTRA_COM',
       'CARDIOVASCULAR', 'OBESIDAD', 'RENAL_CRONICA', 'TABAQUISMO',
       'OTRO_CASO', 'TOMA_MUESTRA_LAB', 'RESULTADO_LAB',
       'TOMA_MUESTRA_ANTIGENO', 'RESULTADO_ANTIGENO', 'CLASIFICACION_FINAL',
       'MIGRANTE', 'PAIS_NACIONALIDAD', 'PAIS_ORIGEN', 'UCI',
       'FECHA_INGRESO_YR', 'FECHA_INGRESO_MT', 'FECHA_INGRESO_DY',
       'FECHA_INGRESO_WK', 'FECHA_SINTOMAS_YR', 'FECHA_SINTOMAS_MT',
       'FECHA_SINTOMAS_DY', 'FECHA_SINTOMAS_WK', 'FECHA_DEF_YR',
       'FECHA_DEF_MT', 'FECHA_DEF_DY', 'FECHA_DEF_WK'],
      dtype='object')

In [5]:
covid_df.shape

(999, 51)

In [6]:
# datatypes of everything that is in data frame, also the number of entries
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 51 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID_REGISTRO            999 non-null    object
 1   ORIGEN                 999 non-null    object
 2   SECTOR                 999 non-null    object
 3   ENTIDAD_UM             999 non-null    object
 4   SEXO                   999 non-null    object
 5   ENTIDAD_NAC            999 non-null    object
 6   ENTIDAD_RES            999 non-null    object
 7   MUNICIPIO_RES          999 non-null    object
 8   TIPO_PACIENTE          999 non-null    object
 9   FECHA_INGRESO          999 non-null    datetime64[ns]
 10  FECHA_SINTOMAS         999 non-null    datetime64[ns]
 11  FECHA_DEF              62 non-null     datetime64[ns]
 12  INTUBADO               999 non-null    object
 13  NEUMONIA               999 non-null    object
 14  EDAD                   999 non-null    int64
 15  NACIONALIDAD           999 non-null    object
 16  EMBARAZO               999 non-null    object
 17  HABLA_LENGUA_INDIG     999 non-null    object
 18  INDIGENA               999 non-null    object
 19  DIABETES               999 non-null    object
 20  EPOC                   999 non-null    object
 21  ASMA                   999 non-null    object
 22  INMUSUPR               999 non-null    object
 23  HIPERTENSION           999 non-null    object
 24  OTRA_COM               999 non-null    object
 25  CARDIOVASCULAR         999 non-null    object
 26  OBESIDAD               999 non-null    object
 27  RENAL_CRONICA          999 non-null    object
 28  TABAQUISMO             999 non-null    object
 29  OTRO_CASO              999 non-null    object
 30  TOMA_MUESTRA_LAB       999 non-null    object
 31  RESULTADO_LAB          999 non-null    object
 32  TOMA_MUESTRA_ANTIGENO  999 non-null    object
 33  RESULTADO_ANTIGENO     999 non-null    object
 34  CLASIFICACION_FINAL    999 non-null    object
 35  MIGRANTE               999 non-null    object
 36  PAIS_NACIONALIDAD      999 non-null    object
 37  PAIS_ORIGEN            999 non-null    object
 38  UCI                    999 non-null    object
 39  FECHA_INGRESO_YR       999 non-null    int64
 40  FECHA_INGRESO_MT       999 non-null    int64
 41  FECHA_INGRESO_DY       999 non-null    int64
 42  FECHA_INGRESO_WK       999 non-null    int64
 43  FECHA_SINTOMAS_YR      999 non-null    int64
 44  FECHA_SINTOMAS_MT      999 non-null    int64
 45  FECHA_SINTOMAS_DY      999 non-null    int64
 46  FECHA_SINTOMAS_WK      999 non-null    int64
 47  FECHA_DEF_YR           62 non-null     float64
 48  FECHA_DEF_MT           62 non-null     float64
 49  FECHA_DEF_DY           62 non-null     float64
 50  FECHA_DEF_WK           62 non-null     float64
dtypes: datetime64[ns](3), float64(4), int64(9), object(35)
memory usage: 398.2+ KB

In [7]:
covid_df.isnull()

,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,...,FECHA_INGRESO_DY,FECHA_INGRESO_WK,FECHA_SINTOMAS_YR,FECHA_SINTOMAS_MT,FECHA_SINTOMAS_DY,FECHA_SINTOMAS_WK,FECHA_DEF_YR,FECHA_DEF_MT,FECHA_DEF_DY,FECHA_DEF_WK
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True

In [8]:
covid_df.isnull().sum() # much like count on sql

ID_REGISTRO                0
ORIGEN                     0
SECTOR                     0
ENTIDAD_UM                 0
SEXO                       0
ENTIDAD_NAC                0
ENTIDAD_RES                0
MUNICIPIO_RES              0
TIPO_PACIENTE              0
FECHA_INGRESO              0
FECHA_SINTOMAS             0
FECHA_DEF                937
INTUBADO                   0
NEUMONIA                   0
EDAD                       0
NACIONALIDAD               0
EMBARAZO                   0
HABLA_LENGUA_INDIG         0
INDIGENA                   0
DIABETES                   0
EPOC                       0
ASMA                       0
INMUSUPR                   0
HIPERTENSION               0
OTRA_COM                   0
CARDIOVASCULAR             0
OBESIDAD                   0
RENAL_CRONICA              0
TABAQUISMO                 0
OTRO_CASO                  0
TOMA_MUESTRA_LAB           0
RESULTADO_LAB              0
TOMA_MUESTRA_ANTIGENO      0
RESULTADO_ANTIGENO         0
CLASIFICACION_FINAL        0
MIGRANTE                   0
PAIS_NACIONALIDAD          0
PAIS_ORIGEN                0
UCI                        0
FECHA_INGRESO_YR           0
FECHA_INGRESO_MT           0
FECHA_INGRESO_DY           0
FECHA_INGRESO_WK           0
FECHA_SINTOMAS_YR          0
FECHA_SINTOMAS_MT          0
FECHA_SINTOMAS_DY          0
FECHA_SINTOMAS_WK          0
FECHA_DEF_YR             937
FECHA_DEF_MT             937
FECHA_DEF_DY             937
FECHA_DEF_WK             937
dtype: int64

In [9]:
covid_df.describe()

,EDAD,FECHA_INGRESO_YR,FECHA_INGRESO_MT,FECHA_INGRESO_DY,FECHA_INGRESO_WK,FECHA_SINTOMAS_YR,FECHA_SINTOMAS_MT,FECHA_SINTOMAS_DY,FECHA_SINTOMAS_WK,FECHA_DEF_YR,FECHA_DEF_MT,FECHA_DEF_DY,FECHA_DEF_WK
count,999.000000,999.0,999.0,999.000000,999.000000,999.0,999.0,999.000000,999.000000,62.0,62.000000,62.000000,62.000000
mean,34.783784,2020.0,1.0,4.446446,1.404404,2020.0,1.0,3.000000,1.070070,2020.0,1.016129,11.306452,2.387097
std,24.453450,0.0,0.0,1.732885,0.491022,0.0,0.0,1.601602,0.255393,0.0,0.127000,6.165979,1.205926
min,0.000000,2020.0,1.0,1.000000,1.000000,2020.0,1.0,1.000000,1.000000,2020.0,1.000000,2.000000,1.000000
25%,12.500000,2020.0,1.0,3.000000,1.000000,2020.0,1.0,2.000000,1.000000,2020.0,1.000000,7.000000,2.000000
50%,33.000000,2020.0,1.0,5.000000,1.000000,2020.0,1.0,3.000000,1.000000,2020.0,1.000000,10.000000,2.000000
75%,53.000000,2020.0,1.0,6.000000,2.000000,2020.0,1.0,4.000000,1.000000,2020.0,1.000000,15.750000,3.000000
max,99.000000,2020.0,1.0,7.000000,2.000000,2020.0,1.0,7.000000,2.000000,2020.0,2.000000,29.000000,9.000000

In [10]:
covid_df["SEXO"].value_counts()

MUJER     501
HOMBRE    498
Name: SEXO, dtype: int64

In [11]:
covid_df.groupby(["ENTIDAD_RES", "SEXO"])["ID_REGISTRO"].count()

ENTIDAD_RES  SEXO
AS           HOMBRE     6
             MUJER      8
BC           HOMBRE    19
             MUJER     11
BS           HOMBRE    12
                       ..
VZ           MUJER     16
YN           HOMBRE     5
             MUJER      7
ZS           HOMBRE    11
             MUJER      7
Name: ID_REGISTRO, Length: 63, dtype: int64

In [12]:
covid_df.groupby(["ENTIDAD_RES", "MUNICIPIO_RES", "SEXO"])["ID_REGISTRO"].count()

ENTIDAD_RES  MUNICIPIO_RES                 SEXO
AS           AGUASCALIENTES                HOMBRE    5
                                           MUJER     5
             JESÚS MARÍA                   HOMBRE    1
             PABELLÓN DE ARTEAGA           MUJER     2
             TEPEZALÁ                      MUJER     1
                                                    ..
ZS           MIGUEL AUZA                   MUJER     1
             PINOS                         HOMBRE    1
             SAIN ALTO                     HOMBRE    1
             TLALTENANGO DE SÁNCHEZ ROMÁN  HOMBRE    1
             ZACATECAS                     HOMBRE    2
Name: ID_REGISTRO, Length: 417, dtype: int64

In [13]:
sex_by_num = covid_df.groupby(["ENTIDAD_RES", "MUNICIPIO_RES", "SEXO"])["ID_REGISTRO"].count()
type(sex_by_num) # a series is a list of elements

pandas.core.series.Series

In [14]:
covid_df[covid_df["EDAD"] > 60] # all records where EDAD > 60

,ID_REGISTRO,ORIGEN,SECTOR,ENTIDAD_UM,SEXO,ENTIDAD_NAC,ENTIDAD_RES,MUNICIPIO_RES,TIPO_PACIENTE,FECHA_INGRESO,...,FECHA_INGRESO_DY,FECHA_INGRESO_WK,FECHA_SINTOMAS_YR,FECHA_SINTOMAS_MT,FECHA_SINTOMAS_DY,FECHA_SINTOMAS_WK,FECHA_DEF_YR,FECHA_DEF_MT,FECHA_DEF_DY,FECHA_DEF_WK
3,0e4508,PUB,ISSSTE,DF,MUJER,DF,DF,IZTAPALAPA,AMBULATORIO,2020-01-01,...,1,1,2020,1,1,1,NaN,NaN,NaN,NaN
4,1554ce,PRIV,PRIVADA,NT,MUJER,NT,NT,TEPIC,AMBULATORIO,2020-01-01,...,1,1,2020,1,1,1,NaN,NaN,NaN,NaN
5,146cbc,PUB,IMSS,QR,MUJER,QR,QR,BENITO JUÁREZ,HOSPITALIZADO,2020-01-01,...,1,1,2020,1,1,1,2020.0,1.0,8.0,2.0
7,1c250e,PUB,IMSS,CL,MUJER,GT,CL,PIEDRAS NEGRAS,HOSPITALIZADO,2020-01-01,...,1,1,2020,1,1,1,2020.0,1.0,9.0,2.0
9,109da7,PUB,IMSS,BS,MUJER,BS,BS,LA PAZ,HOSPITALIZADO,2020-01-01,...,1,1,2020,1,1,1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,138ab7,PUB,IMSS,ZS,HOMBRE,ZS,ZS,FRESNILLO,HOSPITALIZADO,2020-01-07,...,7,2,2020,1,6,2,NaN,NaN,NaN,NaN
972,07299b,PUB,IMSS,GT,MUJER,GT,GT,LEÓN,AMBULATORIO,2020-01-07,...,7,2,2020,1,4,1,NaN,NaN,NaN,NaN
987,06e9a7,PUB,IMSS,JC,MUJER,JC,JC,GUADALAJARA,AMBULATORIO,2020-01-07,...,7,2,2020,1,5,1,NaN,NaN,NaN,NaN
994,60486,PUB,ISSSTE,SP,HOMBRE,DF,SP,SAN LUIS POTOSÍ,AMBULATORIO,2020-01-07,...,7,2,2020,1,5,1,NaN,NaN,NaN,NaN
996,0fd78d,PUB,IMSS,NL,MUJER,SP,NL,MONTERREY,AMBULATORIO,2020-01-07,...,7,2,2020,1,2,1,NaN,NaN,NaN,NaN

In [15]:
sub_covid_df = covid_df[["ID_REGISTRO", "SEXO", "ENTIDAD_RES", "MUNICIPIO_RES", "EDAD", "FECHA_DEF"]]
sub_covid_df.head()

  ID_REGISTRO    SEXO ENTIDAD_RES   MUNICIPIO_RES  EDAD FECHA_DEF
0      19de46  HOMBRE          DF      CUAUHTÉMOC    29       NaT
1      033d67  HOMBRE          DF  ÁLVARO OBREGÓN    44       NaT
2      040b7b   MUJER          MC         TECÁMAC    13       NaT
3      0e4508   MUJER          DF      IZTAPALAPA    63       NaT
4      1554ce   MUJER          NT           TEPIC    66       NaT

In [16]:
sub_covid_df.groupby(["ENTIDAD_RES", "SEXO"], as_index=False)["ID_REGISTRO"].count() # keep data as df format instead of series

   ENTIDAD_RES    SEXO  ID_REGISTRO
0           AS  HOMBRE            6
1           AS   MUJER            8
2           BC  HOMBRE           19
3           BC   MUJER           11
4           BS  HOMBRE           12
..         ...     ...          ...
58          VZ   MUJER           16
59          YN  HOMBRE            5
60          YN   MUJER            7
61          ZS  HOMBRE           11
62          ZS   MUJER            7

[63 rows x 3 columns]

In [17]:
sub_count = sub_covid_df.groupby(["ENTIDAD_RES", "SEXO"], as_index=False)["ID_REGISTRO"].count()
sub_count.rename(columns={"ID_REGISTRO": "COUNT"}, inplace=True)
sub_count

   ENTIDAD_RES    SEXO  COUNT
0           AS  HOMBRE      6
1           AS   MUJER      8
2           BC  HOMBRE     19
3           BC   MUJER     11
4           BS  HOMBRE     12
..         ...     ...    ...
58          VZ   MUJER     16
59          YN  HOMBRE      5
60          YN   MUJER      7
61          ZS  HOMBRE     11
62          ZS   MUJER      7

[63 rows x 3 columns]

In [18]:
# from subcount, get only the rows where the column COUNT is > 5
sub_count[sub_count["COUNT"] > 5]

   ENTIDAD_RES    SEXO  COUNT
0           AS  HOMBRE      6
1           AS   MUJER      8
2           BC  HOMBRE     19
3           BC   MUJER     11
4           BS  HOMBRE     12
5           BS   MUJER     10
7           CH  HOMBRE     14
8           CH   MUJER     16
9           CL  HOMBRE     14
10          CL   MUJER     10
14          CS   MUJER      8
15          DF  HOMBRE     92
16          DF   MUJER     80
19          GR  HOMBRE     10
21          GT  HOMBRE     22
22          GT   MUJER     15
23          HG  HOMBRE     21
24          HG   MUJER     20
25          JC  HOMBRE     25
26          JC   MUJER     40
27          MC  HOMBRE     42
28          MC   MUJER     47
29          MN  HOMBRE      7
30          MN   MUJER      7
33          NL  HOMBRE     59
34          NL   MUJER     70
36          NT   MUJER      9
37          OC  HOMBRE      9
38          OC   MUJER     10
39          PL  HOMBRE     13
40          PL   MUJER     12
41          QR  HOMBRE     10
42          QR   MUJER     18
43          QT  HOMBRE     12
44          QT   MUJER     12
45          SL  HOMBRE      6
46          SL   MUJER      9
47          SP  HOMBRE     11
48          SP   MUJER      7
49          SR  HOMBRE     14
50          SR   MUJER      9
52          TC   MUJER      7
53          TL  HOMBRE     14
54          TL   MUJER      8
56          TS   MUJER      8
57          VZ  HOMBRE     23
58          VZ   MUJER     16
60          YN   MUJER      7
61          ZS  HOMBRE     11
62          ZS   MUJER      7

In [19]:
sub_count[sub_count["COUNT"] > 5].groupby("ENTIDAD_RES")["COUNT"].sum() # by state, num of covid infected
# apply [COUNT].sum() to my groups (by state)

ENTIDAD_RES
AS     14
BC     30
BS     22
CH     30
CL     24
CS      8
DF    172
GR     10
GT     37
HG     41
JC     65
MC     89
MN     14
NL    129
NT      9
OC     19
PL     25
QR     28
QT     24
SL     15
SP     18
SR     23
TC      7
TL     22
TS      8
VZ     39
YN      7
ZS     18
Name: COUNT, dtype: int64

In [20]:
# from subcount, give me the ones with > 10 counts and where their entidad is DF
sub_count[(sub_count["COUNT"] > 10) & (sub_count["ENTIDAD_RES"] == "DF")]

   ENTIDAD_RES    SEXO  COUNT
15          DF  HOMBRE     92
16          DF   MUJER     80

In [21]:
# split in groups (by entidad) and for each group, grab count and sum all its counts (2 entries = 172)
sub_count[(sub_count["COUNT"] > 10) & (sub_count["ENTIDAD_RES"] == "DF")].groupby("ENTIDAD_RES")["COUNT"].sum()

ENTIDAD_RES
DF    172
Name: COUNT, dtype: int64

In [22]:
sub_count[(sub_count["COUNT"] > 10) | (sub_count["ENTIDAD_RES"] == "DF")]

   ENTIDAD_RES    SEXO  COUNT
2           BC  HOMBRE     19
3           BC   MUJER     11
4           BS  HOMBRE     12
7           CH  HOMBRE     14
8           CH   MUJER     16
9           CL  HOMBRE     14
15          DF  HOMBRE     92
16          DF   MUJER     80
21          GT  HOMBRE     22
22          GT   MUJER     15
23          HG  HOMBRE     21
24          HG   MUJER     20
25          JC  HOMBRE     25
26          JC   MUJER     40
27          MC  HOMBRE     42
28          MC   MUJER     47
33          NL  HOMBRE     59
34          NL   MUJER     70
39          PL  HOMBRE     13
40          PL   MUJER     12
42          QR   MUJER     18
43          QT  HOMBRE     12
44          QT   MUJER     12
47          SP  HOMBRE     11
49          SR  HOMBRE     14
53          TL  HOMBRE     14
57          VZ  HOMBRE     23
58          VZ   MUJER     16
61          ZS  HOMBRE     11

In [23]:
# fom subcount, show me the ones with > 10 or where their entidad is equal to either df, nl, or jc
sub_count[(sub_count["COUNT"] > 10) | (sub_count["ENTIDAD_RES"].isin(["DF", "NL", "JC"]))].head(20)

   ENTIDAD_RES    SEXO  COUNT
2           BC  HOMBRE     19
3           BC   MUJER     11
4           BS  HOMBRE     12
7           CH  HOMBRE     14
8           CH   MUJER     16
9           CL  HOMBRE     14
15          DF  HOMBRE     92
16          DF   MUJER     80
21          GT  HOMBRE     22
22          GT   MUJER     15
23          HG  HOMBRE     21
24          HG   MUJER     20
25          JC  HOMBRE     25
26          JC   MUJER     40
27          MC  HOMBRE     42
28          MC   MUJER     47
33          NL  HOMBRE     59
34          NL   MUJER     70
39          PL  HOMBRE     13
40          PL   MUJER     12

In [24]:
sub_count.to_json(orient="records")

'[{"ENTIDAD_RES":"AS","SEXO":"HOMBRE","COUNT":6},{"ENTIDAD_RES":"AS","SEXO":"MUJER","COUNT":8},{"ENTIDAD_RES":"BC","SEXO":"HOMBRE","COUNT":19},{"ENTIDAD_RES":"BC","SEXO":"MUJER","COUNT":11},{"ENTIDAD_RES":"BS","SEXO":"HOMBRE","COUNT":12},{"ENTIDAD_RES":"BS","SEXO":"MUJER","COUNT":10},{"ENTIDAD_RES":"CC","SEXO":"MUJER","COUNT":2},{"ENTIDAD_RES":"CH","SEXO":"HOMBRE","COUNT":14},{"ENTIDAD_RES":"CH","SEXO":"MUJER","COUNT":16},{"ENTIDAD_RES":"CL","SEXO":"HOMBRE","COUNT":14},{"ENTIDAD_RES":"CL","SEXO":"MUJER","COUNT":10},{"ENTIDAD_RES":"CM","SEXO":"HOMBRE","COUNT":3},{"ENTIDAD_RES":"CM","SEXO":"MUJER","COUNT":4},{"ENTIDAD_RES":"CS","SEXO":"HOMBRE","COUNT":2},{"ENTIDAD_RES":"CS","SEXO":"MUJER","COUNT":8},{"ENTIDAD_RES":"DF","SEXO":"HOMBRE","COUNT":92},{"ENTIDAD_RES":"DF","SEXO":"MUJER","COUNT":80},{"ENTIDAD_RES":"DG","SEXO":"HOMBRE","COUNT":5},{"ENTIDAD_RES":"DG","SEXO":"MUJER","COUNT":5},{"ENTIDAD_RES":"GR","SEXO":"HOMBRE","COUNT":10},{"ENTIDAD_RES":"GR","SEXO":"MUJER","COUNT":5},{"ENTIDAD_RES":"GT","SEXO":"HOMBRE","COUNT":22},{"ENTIDAD_RES":"GT","SEXO":"MUJER","COUNT":15},{"ENTIDAD_RES":"HG","SEXO":"HOMBRE","COUNT":21},{"ENTIDAD_RES":"HG","SEXO":"MUJER","COUNT":20},{"ENTIDAD_RES":"JC","SEXO":"HOMBRE","COUNT":25},{"ENTIDAD_RES":"JC","SEXO":"MUJER","COUNT":40},{"ENTIDAD_RES":"MC","SEXO":"HOMBRE","COUNT":42},{"ENTIDAD_RES":"MC","SEXO":"MUJER","COUNT":47},{"ENTIDAD_RES":"MN","SEXO":"HOMBRE","COUNT":7},{"ENTIDAD_RES":"MN","SEXO":"MUJER","COUNT":7},{"ENTIDAD_RES":"MS","SEXO":"HOMBRE","COUNT":5},{"ENTIDAD_RES":"MS","SEXO":"MUJER","COUNT":4},{"ENTIDAD_RES":"NL","SEXO":"HOMBRE","COUNT":59},{"ENTIDAD_RES":"NL","SEXO":"MUJER","COUNT":70},{"ENTIDAD_RES":"NT","SEXO":"HOMBRE","COUNT":4},{"ENTIDAD_RES":"NT","SEXO":"MUJER","COUNT":9},{"ENTIDAD_RES":"OC","SEXO":"HOMBRE","COUNT":9},{"ENTIDAD_RES":"OC","SEXO":"MUJER","COUNT":10},{"ENTIDAD_RES":"PL","SEXO":"HOMBRE","COUNT":13},{"ENTIDAD_RES":"PL","SEXO":"MUJER","COUNT":12},{"ENTIDAD_RES":"QR","SEXO":"HOMBRE","COUNT":10},{"ENTIDAD_RES":"QR","SEXO":"MUJER","COUNT":18},{"ENTIDAD_RES":"QT","SEXO":"HOMBRE","COUNT":12},{"ENTIDAD_RES":"QT","SEXO":"MUJER","COUNT":12},{"ENTIDAD_RES":"SL","SEXO":"HOMBRE","COUNT":6},{"ENTIDAD_RES":"SL","SEXO":"MUJER","COUNT":9},{"ENTIDAD_RES":"SP","SEXO":"HOMBRE","COUNT":11},{"ENTIDAD_RES":"SP","SEXO":"MUJER","COUNT":7},{"ENTIDAD_RES":"SR","SEXO":"HOMBRE","COUNT":14},{"ENTIDAD_RES":"SR","SEXO":"MUJER","COUNT":9},{"ENTIDAD_RES":"TC","SEXO":"HOMBRE","COUNT":3},{"ENTIDAD_RES":"TC","SEXO":"MUJER","COUNT":7},{"ENTIDAD_RES":"TL","SEXO":"HOMBRE","COUNT":14},{"ENTIDAD_RES":"TL","SEXO":"MUJER","COUNT":8},{"ENTIDAD_RES":"TS","SEXO":"HOMBRE","COUNT":5},{"ENTIDAD_RES":"TS","SEXO":"MUJER","COUNT":8},{"ENTIDAD_RES":"VZ","SEXO":"HOMBRE","COUNT":23},{"ENTIDAD_RES":"VZ","SEXO":"MUJER","COUNT":16},{"ENTIDAD_RES":"YN","SEXO":"HOMBRE","COUNT":5},{"ENTIDAD_RES":"YN","SEXO":"MUJER","COUNT":7},{"ENTIDAD_RES":"ZS","SEXO":"HOMBRE","COUNT":11},{"ENTIDAD_RES":"ZS","SEXO":"MUJER","COUNT":7}]'

In [25]:
symptoms = covid_df[["ID_REGISTRO", "SEXO", "EDAD", "TIPO_PACIENTE", "DIABETES", "ASMA", "HIPERTENSION", "OTRA_COM", "CARDIOVASCULAR", "OBESIDAD", "RENAL_CRONICA", "TABAQUISMO"]]
symptoms.head(10)

,ID_REGISTRO,SEXO,EDAD,TIPO_PACIENTE,DIABETES,ASMA,HIPERTENSION,OTRA_COM,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO
0,19de46,HOMBRE,29,AMBULATORIO,NO,NO,NO,SI,NO,NO,NO,NO
1,033d67,HOMBRE,44,AMBULATORIO,NO,NO,NO,NO,NO,SI,NO,NO
2,040b7b,MUJER,13,AMBULATORIO,NO,NO,NO,NO,NO,NO,NO,NO
3,0e4508,MUJER,63,AMBULATORIO,NO,NO,SI,NO,NO,SI,NO,NO
4,1554ce,MUJER,66,AMBULATORIO,NO,NO,NO,NO,NO,NO,NO,SI
5,146cbc,MUJER,68,HOSPITALIZADO,NO,NO,NO,NO,NO,NO,NO,NO
6,04c35b,MUJER,28,AMBULATORIO,NO,NO,NO,NO,NO,NO,NO,NO
7,1c250e,MUJER,98,HOSPITALIZADO,SI,NO,SI,NO,NO,NO,NO,NO
8,19f23d,HOMBRE,53,HOSPITALIZADO,NO,NO,NO,NO,NO,NO,NO,NO
9,109da7,MUJER,68,HOSPITALIZADO,NO,NO,SI,NO,SI,NO,NO,NO

In [26]:
symptoms.groupby(["DIABETES", "ASMA", "HIPERTENSION", "OTRA_COM", "CARDIOVASCULAR", "OBESIDAD", "RENAL_CRONICA", "TABAQUISMO"])["ID_REGISTRO"].count()

DIABETES  ASMA  HIPERTENSION  OTRA_COM   CARDIOVASCULAR  OBESIDAD  RENAL_CRONICA  TABAQUISMO
NO        NO    NO            NO         NO              NO        NO             NO            617
                                                                                  SI             33
                                                                   SI             NO              6
                                                                                  SI              1
                                                         SI        NO             NO             33
                                                                                               ...
SI        SI    NO            NO         NO              SI        NO             NO              1
                SI            NO         NO              NO        NO             NO              2
                                                                   SI             NO              1
                                                         SI        NO             NO              1
                              SE IGNORA  SE IGNORA       SI        SE IGNORA      SE IGNORA       1
Name: ID_REGISTRO, Length: 75, dtype: int64

In [27]:
sub = symptoms.groupby(["SEXO", "TABAQUISMO", "TIPO_PACIENTE"], as_index=False)["ID_REGISTRO"].count()
sub.rename(columns={"ID_REGISTRO": "COUNT"}, inplace=True)
sub.head(10)

     SEXO TABAQUISMO  TIPO_PACIENTE  COUNT
0  HOMBRE        NO     AMBULATORIO    221
1  HOMBRE        NO   HOSPITALIZADO    226
2  HOMBRE  SE IGNORA    AMBULATORIO      1
3  HOMBRE  SE IGNORA  HOSPITALIZADO      1
4  HOMBRE        SI     AMBULATORIO     24
5  HOMBRE        SI   HOSPITALIZADO     25
6   MUJER        NO     AMBULATORIO    258
7   MUJER        NO   HOSPITALIZADO    222
8   MUJER  SE IGNORA    AMBULATORIO      1
9   MUJER        SI     AMBULATORIO     10

In [28]:
sub[(sub["SEXO"] == "HOMBRE") & (sub["TIPO_PACIENTE"] == "HOSPITALIZADO") & (sub["TABAQUISMO"] != "NO")]

     SEXO TABAQUISMO  TIPO_PACIENTE  COUNT
1  HOMBRE        NO   HOSPITALIZADO    226
3  HOMBRE  SE IGNORA  HOSPITALIZADO      1
5  HOMBRE        SI   HOSPITALIZADO     25

In [29]:
sub[(sub["SEXO"] == "MUJER") & (sub["TIPO_PACIENTE"] == "HOSPITALIZADO") & (sub["TABAQUISMO"] != "NO")]

     SEXO TABAQUISMO  TIPO_PACIENTE  COUNT
7   MUJER        NO   HOSPITALIZADO    222
10  MUJER        SI   HOSPITALIZADO     10

In [30]:
g2 = covid_df[["ID_REGISTRO", "SEXO", "EDAD", "TIPO_PACIENTE", "FECHA_INGRESO"]]
g2.head(20)

   ID_REGISTRO    SEXO  EDAD  TIPO_PACIENTE FECHA_INGRESO
0       19de46  HOMBRE    29    AMBULATORIO    2020-01-01
1       033d67  HOMBRE    44    AMBULATORIO    2020-01-01
2       040b7b   MUJER    13    AMBULATORIO    2020-01-01
3       0e4508   MUJER    63    AMBULATORIO    2020-01-01
4       1554ce   MUJER    66    AMBULATORIO    2020-01-01
5       146cbc   MUJER    68  HOSPITALIZADO    2020-01-01
6       04c35b   MUJER    28    AMBULATORIO    2020-01-01
7       1c250e   MUJER    98  HOSPITALIZADO    2020-01-01
8       19f23d  HOMBRE    53  HOSPITALIZADO    2020-01-01
9       109da7   MUJER    68  HOSPITALIZADO    2020-01-01
10      0e3e30  HOMBRE    63  HOSPITALIZADO    2020-01-01
11      12f4b5  HOMBRE    24  HOSPITALIZADO    2020-01-01
12      1a7ecf   MUJER    58  HOSPITALIZADO    2020-01-01
13      087db8   MUJER     2  HOSPITALIZADO    2020-01-01
14   110000000  HOMBRE    34    AMBULATORIO    2020-01-01
15      19843d  HOMBRE    34  HOSPITALIZADO    2020-01-01
16      07821b   MUJER    33  HOSPITALIZADO    2020-01-01
17      0d4624   MUJER    64  HOSPITALIZADO    2020-01-01
18      0868c6   MUJER    63  HOSPITALIZADO    2020-01-01
19      184829   MUJER    36  HOSPITALIZADO    2020-01-01

In [31]:
sub2 = g2.groupby(["FECHA_INGRESO", "TIPO_PACIENTE"], as_index=False)["ID_REGISTRO"].count()
sub2.rename(columns={"ID_REGISTRO": "COUNT"}, inplace=True)
sub2.head(20)

   FECHA_INGRESO  TIPO_PACIENTE  COUNT
0     2020-01-01    AMBULATORIO      8
1     2020-01-01  HOSPITALIZADO     28
2     2020-01-02    AMBULATORIO     68
3     2020-01-02  HOSPITALIZADO     61
4     2020-01-03    AMBULATORIO    141
5     2020-01-03  HOSPITALIZADO     71
6     2020-01-04    AMBULATORIO     20
7     2020-01-04  HOSPITALIZADO     60
8     2020-01-05    AMBULATORIO     44
9     2020-01-05  HOSPITALIZADO     94
10    2020-01-06    AMBULATORIO    178
11    2020-01-06  HOSPITALIZADO    148
12    2020-01-07    AMBULATORIO     56
13    2020-01-07  HOSPITALIZADO     22

In [35]:
#deaths = pd.DataFrame.from_records(COVIDData.objects.all().values('id_registro','fecha_def','sexo')) # si
deaths = covid_df[["ID_REGISTRO", "SEXO", "FECHA_DEF"]]
deaths

#sub3.rename(columns={"id_registro":"count"},inplace=True)
#D_json = SafeString(sub3.to_json(orient='records'))

    ID_REGISTRO    SEXO FECHA_DEF
0        19de46  HOMBRE       NaT
1        033d67  HOMBRE       NaT
2        040b7b   MUJER       NaT
3        0e4508   MUJER       NaT
4        1554ce   MUJER       NaT
..          ...     ...       ...
994       60486  HOMBRE       NaT
995      14836b   MUJER       NaT
996      0fd78d   MUJER       NaT
997      175bf8  HOMBRE       NaT
998      0c7619  HOMBRE       NaT

[999 rows x 3 columns]

In [42]:
total = deaths.groupby(["SEXO"], as_index=False)["ID_REGISTRO"].count() # si
total

     SEXO  ID_REGISTRO
0  HOMBRE          498
1   MUJER          501

In [43]:
total[(total["SEXO"] == "MUJER")] # no

    SEXO  ID_REGISTRO
1  MUJER          501

In [47]:
total[(total["SEXO"] == "HOMBRE")] # no
total.rename(columns={"ID_REGISTRO": "COUNT"}, inplace=True)
total

     SEXO  COUNT
0  HOMBRE    498
1   MUJER    501

In [48]:
total.to_json(orient="records") # no

'[{"SEXO":"HOMBRE","COUNT":498},{"SEXO":"MUJER","COUNT":501}]'

In [49]:
total["COUNT"] # no

0    498
1    501
Name: COUNT, dtype: int64

In [50]:
total["COUNT"][0] # hombres totales con covid # no

498

In [51]:
total["COUNT"][1] # mujer totales con covid # no

501

In [53]:
number = total["COUNT"][0] + total["COUNT"][1] # no
number

999

In [73]:
not_death = deaths.isnull().sum()["FECHA_DEF"] # no
num_death = number - not_death
num_death

62

In [88]:
d_men = deaths[(deaths["SEXO"] == "HOMBRE") & (pd.notnull(deaths["FECHA_DEF"]))]["ID_REGISTRO"].count() # hombres muertos
d_men # si

32

In [89]:
d_women = deaths[(deaths["SEXO"] == "MUJER") & (pd.notnull(deaths["FECHA_DEF"]))]["ID_REGISTRO"].count() # mujeres muertos
d_women # si

30

In [90]:
json_men = {"men_infected": total["COUNT"][0], "men_dead": d_men}
json_men # si

{'men_infected': 498, 'men_dead': 32}

In [92]:
json_women = {"women_infected": total["COUNT"][1], "women_dead": d_women}
json_women # si

{'women_infected': 501, 'women_dead': 30}